@if(flash.contains(Application.FLASH_ERROR_KEY)) {
    <div class="row-fluid">
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @flash.get(Application.FLASH_ERROR_KEY)
    </div>
    </div>
}
@if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
    <div class="row-fluid">
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @flash.get(Application.FLASH_MESSAGE_KEY)
    </div>
    </div>
}