@(message: String)
    @main("Welcome") {
        <div class="row-fluid">
            <p>
            @(message)
            </p>
        </div>

        <div class="row-fluid">
            <p>
                <b>Play + MongoDB application template, with build-in standard modules :</b>
            </p>
            <ul>
                <li>User and Role Management (CRUD)</li>
                <li>Pagination</li>
                <li>File Upload</li>
                <li>Security + Access Control</li>
            </ul>
        </div>
        <div class="row-fluid">
            <p>
                <b>Technology used :</b>
            </p>
            <ul>
                <li>Play 2.2.0 - Java version</li>
                <li>Play2-morphia-plugin as Data Layer to connect with MongoDB</li>
                <li>Deadbolt as Access Control Management</li>
                <li>Twitter Bootstrap as css framework</li>
            </ul>
        </div>
    }